<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Sample Node.js</title>
</head>
<body>
  <h1>My Sample Node.js in ITC331 </h1>
  <h2>Application Development and Emerging Technologies</h2>
  <h3>Arnold Z. Adeva BSIT 3F1</h3>
  <h3>Mr. Christian I. Cabrera</h3>
  <h3>Activity 2</h3>
  <p>-Study the structure of Node.js. <br>
  -Create a simple node.js project that implements routes/routing, http methods and views.<br>
  -Install wakatime extension on vscode and sigup using your github account.<br>
  -Attached the github link and screenshot of your dashboard, and insights of out wakatime.</p><br>
  
  <p><a href="/">Go back to Home</a></p>
</body>
</html>
