<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Sample Node.js</title>
</head>
<body>
  <h1>Welcome to my Sample Node.js!!</h1><br>
  <h3>Activity 2</h3>
  <h2>PRODUCTS</h2><br>

<p>|<a href="/products/add">Add Products</a>|</p>
<p>|<a href="/products/list">View Listed Products</a>|</p>
<p>|<a href="/about">About Us</a>|</p>

</body>
</html>
