<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Simple Node.js 5 Routes</title>
</head>
<body>
  <h1>My Node.js 5 Routes with separate Controller in ITC331 </h1>
  <h2>Application Development and Emerging Technologies</h2>
  <h3>Arnold Z. Adeva BSIT 3F1</h3>
  <h3>Mr. Christian I. Cabrera</h3>
  <h3>Activity Nodejs Project 5 Routers</h3>
  <p>Create simple nodejs projects with separate controller and router with 5 routes and method. <br>
    See the video for more details.</p><br>
    <p>|<a href="/abouts/contacts">Contact Us</a>|</p>
  <p><a href="/">Go back to Home</a></p>
</body>
</html>
