<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Simple Node.js 5 Routes</title>
</head>
<body>
  <h1>Welcome to my Simple Node.js!!</h1><br>
  <h3>Nodejs Projects</h3>
  <h3>5 Routes with separate Controller.</h3>
  <h2>Welcome</h2><br>

<p>|<a href="/users">Add Users</a>|</p>
<p>|<a href="/products">View Listed Products</a>|</p>
<p>|<a href="/abouts">About Us</a>|</p>

</body>
</html>
